.about{
    .img-about{
        margin-left: 10%;
        text-align: inherit;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-line-pack: center;
        align-content: center;
        padding: 0 0 0 10px;
        img{
            max-width: 500px;
            border-radius: 20px;
            
        }
    }

    ul {
        list-style-type: none
      }
      
      li {
        display: grid;
        grid-template-columns: 30px auto;
     
        align-items: center;
      }
      
      li::before {
        content: ">";
        font-size: 18px;
        color: #dc3545;
      }
   
   
    .text{
        margin-left: 10%;
        text-align: inherit;
        display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    align-content: center;
    padding: 0 0 0 10px;
    }
}

@media screen and (max-width: 991px) {
    .about{
        .row{
            margin: 0;
        }
    .content{
        text-align: center;
        .title{  width: 100%;
            h2{
              
            }
        }
        img{
            max-width: 100%!important;
            margin: auto;
        }
        .text{
            text-align: center!important;
            margin: inherit;
            h3{
                text-align: center!important;
                width: 100%;
                margin-top: 50px ;
            }
            a{
                width: 100%;
            }
           
            
        }
    }
}
}