.FAQ{
    background: black;
    padding: 70px 0;
    background-image: radial-gradient(circle farthest-side at 100% 0, rgba(255, 27, 27, 0.2), transparent 72%);
    h2{
        margin-top: 0;
    }
    .accordion{
        .accordion-item{
            margin: 10px 0;
            .accordion-header{
                
            }
            button{
                font-size: 1.75rem;
             
            }
            .accordion-body{
                background: black;
            }
            .accordion-button:not(.collapsed){
                color: black;
            }
        }
    }
    .accordion-button:focus{
        border-color: #dc3545;
        box-shadow: 0 0 0 0.25rem rgb(253 13 13 / 25%);
        border: #dc3545;
    }
    .accordion-button:not(.collapsed){
        background-color:  none!important;
    
    }
}