.menu{
  
  
    a{  color: white;
        &:hover{
            color: #dc3545!important;
        }
    }
    .navbar-collapse {
           flex-grow: 0;
           text-align: center;
           justify-content: center;
            .navbar-nav {
                .nav-link {
                    margin-right: 2rem;
                  
                   }
            }
    }
    .socials{
        a{
            margin: 0 20px;
          
        }
    }
}
@media screen and (max-width: 991px) {
    .menu{
        .navbar-collapse{
            .navbar-nav {
                .nav-link {
                    margin-right: inherit;
                  
                   }
            }
        }
    }
}