.Partner{
    text-align: center;
    padding: 100px 0 0 0;
    img{
        max-width: 250px;
    }
}

@media screen and (max-width: 991px) {
    .Partner{
        img{
            max-width: 100%!important;
        }
}
}
@media screen and (max-width: 767px) {
    .Partner{
        img{
            max-width: 200px!important;
            margin: 20px 0;
        }
}
}