body{
    font-family: Poppin;
    background: black;
    z-index: 1;
    color: white;
}
#main-content{
    position: relative;
    z-index: 2;
    background-image: radial-gradient(circle farthest-side at 100% 0, rgb(255 27 27 / 20%), transparent 72%);

}
h1,h2{
    text-align: center;
    font-size: 60px;
    margin: 100px 0 50px 0px;
    font-weight: bold;
}

p{
    font-family: Poppin;
    margin-top: 18px;
    font-size: 22px;
}
summary{
    font-size: 22px;
    padding: 1rem 0px 10px;
}
.btn{
    border: 2px solid #b92c28;
    font-size: 20px;
    padding:10px 20px;
    background: none;
  
   
}
.button{
    font-family: Poppin;
}
a{
    color: inherit;
    display: inline-block;
}
$red:#dc3545