.roadmap{
    overflow: hidden;
    padding: 70px 0;
    background: #0000006e;

    background-image: radial-gradient(circle farthest-side at 100% 0 , rgba(255, 27, 27, 0.2), transparent 40%);
    h2{
        margin-top: 0;
    }
    .title-section{
        text-align: center;
        padding-bottom: 40px;
        
        
       
    }
    .top-section{
        text-align: center;
        padding: 4rem 0;
        max-width: 600px;
        margin: 0 auto;
    }
    
    .timeline{
        position: relative;
        min-height: 150px;
        
    }
    
    .line{
        position: absolute;
        z-index: 1;
        left: calc(50% - 2px);
        width: 5px;
        top: -50px;
        background: #dc3545;
        display: none;
    }
    
    .line:before,
    .line::after{
        position: absolute;
        display: block;
        content: '';
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background: #dc3545;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .line:after{
        bottom: 0;
    }
    
    .section{
        display: flex;
        opacity: 0;
        transform: translateX(-100%);
        transition: 600ms ease;
        position: relative;
        z-index: 1;
        margin: 50px 0;
        padding: 1rem;
        align-items: center;
        min-height: 300px;
    }
    
    .section:nth-child(odd){
        flex-direction: row-reverse;
        transform: translateX(100%);
    }
    
    .bead{
        position: absolute;
       color: white;
        font-size: 18px;
        display: block;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background: #dc3545;
        left: 50%;
        top: 4%;
        transform: translateX(-50%);
        padding: 11px 6px;
        z-index: 5;
    }
    
    .content{
        width: calc(50% - 2rem);
    }
    
    .show-me:nth-child(n){
        transform: none;
        opacity: 1;
    }
    
    /*puces*/
    .roadmap ul  li::before {content: "\f058 "; color: rgba(246,122,22,1);
        display: inline-block; 
        width: 15px;
        margin-left: -0em;
        margin-right: 15px;
        border-radius: 50%;
    
    }
    .roadmap ul {list-style: none; padding-left: 0;}
    .roadmap ul  li{
        margin: 30px 0;
        font-size: 22px;
    }
    .roadmap ul .Done{
        text-decoration: line-through;
    }
}

@media screen and (max-width: 767px) {
    .roadmap{
        .timeline{
            .line{
                display: none!important;
            }
            .content{
                width: inherit;
            }
            .bead{
                top: -43px ;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .roadmap{
        margin-top: 70px;
    }
}