.team{
    padding: 70px 0;
    h2{
        margin-top: 0;
    }
    .ourTeam-hedding{
        margin-bottom: 50px;
    }
   
    .ourTeam-box{
        border-radius: 20px;
       
        margin: 0px;
        background-color: #FFFFFF;
        margin-bottom: 30px;
    }
    .section1{
        padding: 30px 0px 30px 0px;
    }
    .section1 img{
        border-radius: 20%;
        max-height: 230px;
        max-width: 230px;
    }
    .section2 p{
        font-family: Gomarice !important;
        font-weight: bold;
        font-size: 1.75rem;
        color: black;
    }
    .section2 span{
        font-family: Gilory;
        margin-top: 18px;
        font-size: 22px;
        color: black;
    }
   
  
   
  

  
  
  
}